.wrapper {
	width: 100%;
	padding: 1.8rem 0;
	background: #222;
}

.content {
	width: 80%;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatarBlock {
	width: 13%;
}

.infoBlock {
	width: 17%;
	display: block;
}

.textBlock {
	width: 50%;
}

.titleBlock {
	width: 20%;
}

.text {
	margin: 0;
}

.avatar {
	border-radius: 50%;
}

.nameWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}

.name {
	color: #FFF;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 75%;
}

.editPen {
	cursor: pointer;
	margin-left: 12px;
}

.profileDescription {
	color: #7C7C7C;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 128.906%;
}

.title {
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
