.dialog {
	display: flex;
    opacity: 0;
    border-radius: 12px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border: none;
    z-index: 999;
    outline: none;
}

:root:has(.dialog[open]) body {
	overflow: hidden;
}

.dialog[open] {
	opacity: 1;
    pointer-events: all;
}
