.page {
	display: flex;
	width: 95%;
	margin: 0 auto;
}

.sidebar {
	margin-right: 50px;
}

.main {
	margin-top: 75px;
	min-height: 80vh;
	width: 100%;
	padding-bottom: 60px;
}

.loader {
	margin: 200px auto 0 auto;
}

.errorWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.errorMessage {
	color: #FF2727;
	font-size: 30px;
	margin-left: 10px;
}

.title {
	color: #FFF;
	font-family: Montserrat;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.products {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.pagination {
	display: inline-block;
	margin: 50px 0 0 50%;
	transform: translateX(-50%);
}
