.loader {
	border-color: rgba(255, 255, 255, 0.3);
	border-style: solid;
	border-radius: 50%;
	border-top-color: #FFD704;
	border-top-style: solid;
	animation: spin 1s linear infinite;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
